* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(240, 120, 73, 0.9);
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}
.btn {
	margin: 1rem;
	padding: 1rem;
	font-size: 1.2rem;
	border: none;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	color: white;
	background-color: rgba(81, 179, 161, 1);
	cursor: pointer;
}
.btn:hover {
	background-color: rgba(81, 179, 161, 0.6);
}
.btn:focus {
	outline: none;
	transform: scale(1.25);
	background-color: teal;
}
